.nav {
    border-bottom: 1px solid var(--chakra-colors-gray-200);
}

.nav .menu-logout-button:hover {
    color: var(--chakra-colors-red-600);
}

.nav :global(.chakra-menu__icon-wrapper) {
    display: flex;
}

.nav .avatar {
    border: 1px solid var(--chakra-colors-gray-200);
    width: var(--chakra-fontSizes-5xl);
    height: var(--chakra-fontSizes-5xl);
    color: var(--chakra-colors-gray-500);
}

.brand {
    display: flex;
    align-items: center;
    gap: var(--chakra-space-4);
}

.brand p {
    font-weight: var(--chakra-fontWeights-light);
    font-size: var(--chakra-fontSizes-xl);
}
